<!-- *ngIf -->
<div *ngIf = "courses.length > 0"> List of Courses 
  <ul>
    <li *ngFor = "let course of courses">{{ course }}</li>
  </ul>
</div>
<div *ngIf = "courses.length == 0"> No Courses yet </div>

<!--Alternative Way-->
<div *ngIf = "courses.length > 0; else noCourses"> 
  List of Courses 
  <ul>
    <li *ngFor = "let course of courses">{{ course }}</li>
  </ul>
</div>
<ng-template #noCourses> No Courses yet </ng-template>

<!--Alternative Way-->
<div *ngIf = "courses.length > 0;then coursesList else noCourses2"> </div>
<ng-template #coursesList>
  List of Courses 
  <ul>
    <li *ngFor = "let course of courses">{{ course }}</li>
  </ul>
</ng-template>
<ng-template #noCourses2> No Courses yet </ng-template>

<!---------------------------------------------------------------------------------------------------------------------->
<!--*ngSwitchCase-->
<ul class = "nav nav-pills">
  <li class = "nav-item"><a class = "nav-link" [class.active] = "viewMode == 'map'" (click)  = "viewMode = 'map' ">Map View</a></li>
  <li class = "nav-item"><a class = "nav-link" [class.active] = "viewMode == 'list'" (click)  = "viewMode = 'list' ">List View</a></li>
  <li class = "nav-item"><a class = "nav-link" [class.active] = "viewMode == 'grid'" (click)  = "viewMode = 'grid' ">Grid View</a></li>
</ul>
<div [ngSwitch] = "viewMode">
  <div *ngSwitchCase = "'map'">Map View Content</div>
  <div *ngSwitchCase = "'list'">List View Content</div>
  <div *ngSwitchCase = "'grid'">Grid View Content</div>
  <div *ngSwitchDefault>Default View</div>
</div>

<!---------------------------------------------------------------------------------------------------------------------->
<hr>
<!--*ngFor-->
<ul>
  <li *ngFor = "let color of colors; index as i; even as isEven"> <!--There are premade local variables such as index for ngFor-->
    {{i}} - {{color.name}}
    <span *ngIf = "isEven"> -- EVEN -- </span>
    <button (click) = "removeColor(color)">Remove</button>
  </li>
</ul>
<hr>
<button (click) = "addColor()" >Add Color</button>


<hr>
<button (click) = "loadFruits()">Load Fruits</button> <!--Angular is reloading the fruits each time because different memory address-->
<ul>
    <li *ngFor = "let fruit of fruits; trackBy: trackFruit "> <!--Use trackBy to stop reloading for unchanged data-->
      {{fruit.name}}
    </li>
</ul>

<!---------------------------------------------------------------------------------------------------------------------->
<hr>
<button 
  [style.backgroundColor] = "canSave ? 'blue': 'gray' "
  [style.color] = "canSave ? 'white':'black'"
  [style.fontWeight] = "canSave ? 'bold': 'normal'"
>
Save
</button>

<button 
  [ngStyle] = "{
    'backgroundColor': canSave ? 'blue':'gray',
    'color': canSave ? 'white': 'black',
    'fontWeight': canSave ? 'bold' : 'normal'
  }"
>
Save
</button>
